<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at.to_s(:datetime) %>
      </div>
      <% if Bookmark.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/bookmarks/#{@post.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-bookmark like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/bookmarks/#{@post.id}/create", {method: "post"}) do %>
         <span class="fa fa fa-bookmark-o like-btn"></span>
        <% end %>
      <% end %>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to "編集", "/posts/#{@post.id}/edit" %>
          <%= link_to "削除", "/posts/#{@post.id}/destroy", method: "post", data: { confirm: '本当に削除して良いですか?'} %>
        </div>
      <% else %>
        <% if @isRoom == true %>
          <div class="post-menus">
            <a href="/rooms/<%= @roomId %>">連絡を取る</a>
          </div>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <div class="post-menus">
              <%= f.submit "連絡を取る" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>