<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>   
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("SOKAGU", "/posts/index") %>
        <% else %>
          <%= link_to("SOKAGU", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to("家具を探す", "/posts/index") %>
          </li>
          <li>
            <%= link_to("家具を投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
        <% else %>
          <li>
            <%= link_to("SOKAGUとは", "/about") %>
          </li>
          <li>
            <%= link_to("新規ユーザー登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
        
      </ul>
    </header>

  
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>


